version: '3.4'
services:
  redis:
    image: "redis:alpine"

    command: redis-server

    ports:
      - "6379:6379"

    environment:
      - REDIS_REPLICATION_MODE=master

  sqldatabase:
    image: "mysql:latest"

    ports:
      - "3306:3306"

    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=api
  
  ffmpeg:
    image: jrottenberg/ffmpeg

