version: '3.4'
services:
  redis:
    image: "redis:alpine"

    command: redis-server

    ports:
      - "6379:6379"

    environment:
      - REDIS_REPLICATION_MODE=master

  sqldatabase:
    image: "mysql:latest"

    ports:
      - "3306:3306"

    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=api
  
  ffmpeg:
    image: jrottenberg/ffmpeg

  rabbitmq:
    image: rabbitmq:3.5
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - 5672:5672
      - 15672:15672

  notifier:
    image: 331leo/rabbitmq3-management-mqtt
    hostname: notifier
    environment:
      HOSTNAME: notifier
      RABBITMQ_NODENAME: rabbitmq
      RABBITMQ_DEFAULT_USER: 'guest'
      RABBITMQ_DEFAULT_PASS: 'guest'
    volumes:
      - /var/lib/notifier
    ports:
      - 5673:5672
      - 15673:15672

  mongodb:
    image: mongo:latest
    environment:
      - MONGODB_DATABASE="api"
    ports:
      - 27017:27017