network: 'mainnet'
metaChainShardId: 4294967295
api:
  public: true
  private: true
  auth: false
cron:
  transactionProcessor: true
  transactionProcessorMaxLookBehind: 1000
  transactionCompleted: false
  transactionCompletedMaxLookBehind: 100
  cacheWarmer: true
  fastWarm: false
  queueWorker: true
  elasticUpdater: false
  statusChecker: false
flags:
  useRequestCaching: true
  useKeepAliveAgent: true
  useTracing: false
  useRequestLogging: false
  useVmQueryTracing: false
  processNfts: true
  indexer-v3: false
features:
  eventsNotifier:
    enabled: false
    port: 5674
    url: 'amqp://guest:guest@127.0.0.1:5672'
    exchange: 'all_events'
    queue: 'api-process-logs-and-events'
image:
  width: 600
  height: 600
  type: 'png'
aws:
  s3KeyId: ''
  s3Secret: ''
  s3Bucket: 'media.elrond.com'
  s3Region: ''
urls:
  api:
    - 'https://api.elrond.com'
    - 'https://devnet-api.elrond.com'
    - 'https://testnet-api.elrond.com'
  elastic:
    - 'https://index.elrond.com'
  mex:
    - 'https://mex-indexer.elrond.com'
  gateway:
    - 'https://gateway.elrond.com'
  redis: '127.0.0.1'
  rabbitmq: 'amqp://127.0.0.1:5672'
  providers: 'https://delegation-api.elrond.com/providers'
  delegation: 'https://delegation-api.elrond.com'
  media: 'https://media.elrond.com'
  nftThumbnails: 'https://media.elrond.com/nfts/thumbnail'
  tmp: '/tmp'
  ipfs: 'https://ipfs.io/ipfs'
  socket: 'socket-fra.elrond.com'
indexer:
  type: 'elastic'
  maxPagination: 10000
database:
  enabled: false
  url: 'mongodb://127.0.0.1:27017/api?authSource=admin'
  type: 'mysql'
  host: 'localhost'
  port: 3306
  username: 'root'
  password: 'root'
  database: 'api'
caching:
  cacheTtl: 6
  processTtl: 600
  poolLimit: 50
keepAliveTimeout:
  downstream: 61000
  upstream: 60000
contracts:
  esdt: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqzllls8a5w6u'
  auction: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqplllst77y4l'
  staking: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqllls0lczs7'
  delegationManager: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqylllslmq6y6'
  delegation: 'erd1qqqqqqqqqqqqqpgqxwakt2g7u9atsnr03gqcgmhcv38pt7mkd94q6shuwt'
  metabonding: 'erd1qqqqqqqqqqqqqpgq50dge6rrpcra4tp9hl57jl0893a4r2r72jpsk39rjj'
  delegationShardId: 2
inflation:
  - 1952123
  - 1746637
  - 1541150
  - 1335663
  - 1130177
  - 924690
  - 719203
security:
  admins:
  jwtSecret:
nftProcess:
  parallelism: 1
  maxRetries: 3
transaction-action:
  mex:
    microServiceUrl: 'https://graph.maiar.exchange/graphql'
