network: 'devnet'
metaChainShardId: 4294967295
precisionExIncrease: 1000
api:
  public: true
  private: true
  auth: false
cron:
  transactionProcessor: true
  transactionProcessorMaxLookBehind: 100
  transactionCompleted: false
  transactionCompletedMaxLookBehind: 100
  cacheWarmer: true
  fastWarm: true
  queueWorker: true
  elasticUpdater: false
flags:
  useRequestCaching: true
  useKeepAliveAgent: true
  useTracing: false
  useRequestLogging: false
  useVmQueryTracing: false
  processNfts: true
  indexer-v3: true
features:
  eventsNotifier:
    enabled: false
    port: 5674
    url: 'amqp://guest:guest@127.0.0.1:5672'
    exchange: 'all_events'
    queue: 'api-process-logs-and-events'
image:
  width: 600
  height: 600
  type: 'png'
aws:
  s3KeyId: ''
  s3Secret: ''
  s3Bucket: 'devnet-media.elrond.com'
  s3Region: ''
urls:
  api:
    - 'https://devnet-api.elrond.com'
    - 'https://testnet-api.elrond.com'
    - 'https://api.elrond.com'
    - 'http://localhost:3001'
  elastic:
    - 'https://devnet-index.elrond.com'
  gateway:
    - 'https://devnet-gateway.elrond.com'
  redis: '127.0.0.1'
  rabbitmq: 'amqp://127.0.0.1:5672'
  providers: 'https://devnet-delegation.maiarbrowser.com/providers'
  media: 'https://devnet-media.elrond.com'
  nftThumbnails: 'https://devnet-media.elrond.com/nfts/thumbnail'
  tmp: '/tmp'
  ipfs: 'https://ipfs.io/ipfs'
  socket: 'devnet-socket-fra.elrond.com'
database:
  enabled: false
  url: 'mongodb://127.0.0.1:27017/api?authSource=admin'
  type: 'mysql'
  host: 'localhost'
  port: 3306
  username: 'root'
  password: 'root'
  database: 'api'
caching:
  cacheTtl: 6
  processTtl: 600
  poolLimit: 50
keepAliveTimeout:
  downstream: 61000
  upstream: 60000
contracts:
  esdt: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqzllls8a5w6u'
  auction: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqplllst77y4l'
  staking: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqllls0lczs7'
  delegationManager: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqylllslmq6y6'
  delegation: 'erd1qqqqqqqqqqqqqpgqp699jngundfqw07d8jzkepucvpzush6k3wvqyc44rx'
  metabonding: 'erd1qqqqqqqqqqqqqpgqkg7we73j769ew5we4yyx7uyvnn0nefqgd8ssm6vjc2'
  lockedAssetAddress: 'erd1qqqqqqqqqqqqqpgqnqf6qpnd7y3m6wpkur9u8hg37rvhn5ae0n4se7lw39'
  delegationShardId: 2
inflation:
  - 1952123
  - 1746637
  - 1541150
  - 1335663
  - 1130177
  - 924690
  - 719203
security:
  admins:
  jwtSecret:
nftProcess:
  parallelism: 1
  maxRetries: 3
transaction-action:
  mex:
    microServiceUrl: ''
