network: 'testnet'
dappNetwork: 'DAPP_CONFIG'
metaChainShardId: 4294967295
api:
  public: MVX_API_PUBLIC
  publicPort: 3001
  private: MVX_API_PRIVATE
  privatePort: 4001
  websocket: true
cron:
  cacheWarmer: MVX_CACHEWARMER
  fastWarm: true
  queueWorker: true
  elasticUpdater: false
flags:
  useRequestCaching: true
  useKeepAliveAgent: true
  useTracing: false
  useRequestLogging: false
  useVmQueryTracing: false
  processNfts: true
  collectionPropertiesFromGateway: false
features:
  eventsNotifier:
    enabled: MVX_EVENTS_NOTIFIER
    port: 5674
    url: 'MVX_EVENTS_NOTIFIER_RABBIT_URL'
    exchange: 'all_events'
    queue: 'api-process-logs-and-events'
  guestCaching:
    enabled: false
    hitsThreshold: 100
    ttl: 12
  transactionPool:
    enabled: false
  transactionPoolWarmer:
    enabled: false
    cronExpression: '*/5 * * * * *'
    ttlInSeconds: 60
  updateCollectionExtraDetails:
    enabled: false
  updateAccountExtraDetails:
    enabled: false
  marketplace:
    enabled: false
    serviceUrl: 'MARKETPLACE_URL'
  exchange:
    enabled: false
    serviceUrl: 'EXCHANGE_URL'
  dataApi:
    enabled: false
    serviceUrl: 'DATAAPI_URL'
  assetsFetch:
    enabled: true
    assetesUrl: 'ASSETSFETCH_URL'
  auth:
    enabled: false
    maxExpirySeconds: 86400
    acceptedOrigins:
      - ''
    admins:
      - ''
    jwtSecret: ''
  stakingV4:
    enabled: false
    cronExpression: '*/5 * * * * *'
    activationEpoch: 1043
  nodeEpochsLeft:
    enabled: false
  transactionProcessor:
    enabled: MVX_TRANSACTIONPROCESSOR
    maxLookBehind: 100
  transactionCompleted:
    enabled: false
    maxLookBehind: 100
    logLevel: 'Error'
  transactionBatch:
    enabled: true
    maxLookBehind: 100
  statusChecker:
    enabled: false
    thresholds:
      tokens: 500
      nodes: 3000
      providers: 10
      tokenSupplyCount: 20
      tokenAssets: 20
      tokenAccounts: 500
      tokenTransactions: 500
      nodeValidators: 300
  nftScamInfo:
    enabled: false
  processNfts:
    enabled: false
    nftQueueName: 'api-process-nfts'
    deadLetterQueueName: 'api-process-nfts-dlq'
  tps:
    enabled: false
    maxLookBehindNonces: 100
  nodesFetch:
    enabled: true
    serviceUrl: 'NODESFETCH_URL'
  tokensFetch:
    enabled: true
    serviceUrl: 'TOKENSFETCH_URL'
  providersFetch:
    enabled: true
    serviceUrl: 'PROVIDERSFETCH_URL'
image:
  width: 600
  height: 600
  type: 'png'
aws:
  s3KeyId: ''
  s3Secret: ''
  s3Bucket: 'devnet-media.elrond.com'
  s3Region: ''
urls:
  self: 'https://devnet-api.multiversx.com'
  elastic:
    - 'ELASTICSEARCH_URL'
  gateway:
    - 'GATEWAY_URL'
  verifier: 'https://play-api.multiversx.com'
  redis: 'REDIS_IP'
  rabbitmq: 'RABBITMQ_URL'
  providers: 'PROVIDERS_URL'
  delegation: 'DELEGATION_URL'
  media: 'https://devnet-media.elrond.com'
  nftThumbnails: 'https://devnet-media.elrond.com/nfts/thumbnail'
  tmp: '/tmp'
  ipfs: 'https://ipfs.io/ipfs'
  socket: 'SOCKET_URL'
  maiarId: 'https://devnet-id-api.multiversx.com'
indexer:
  type: 'elastic'
  maxPagination: 10000
database:
  enabled: false
  url: 'mongodb://127.0.0.1:27017/api?authSource=admin'
  type: 'mysql'
  host: 'localhost'
  port: 3306
  username: 'root'
  password: 'root'
  database: 'api'
caching:
  cacheTtl: 6
  processTtl: 600
  poolLimit: 50
  cacheDuration: 3
keepAliveTimeout:
  downstream: 61000
  upstream: 60000
contracts:
  esdt: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqzllls8a5w6u'
  auction: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqplllst77y4l'
  staking: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqllls0lczs7'
  delegationManager: 'erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqylllslmq6y6'
  delegation: 'erd1qqqqqqqqqqqqqpgq97wezxw6l7lgg7k9rxvycrz66vn92ksh2tssxwf7ep'
  metabonding: 'erd1qqqqqqqqqqqqqpgqkg7we73j769ew5we4yyx7uyvnn0nefqgd8ssm6vjc2'
inflation:
  - 1952123
  - 1746637
  - 1541150
  - 1335663
  - 1130177
  - 924690
  - 719203
nftProcess:
  parallelism: 1
  maxRetries: 3
