import { Module } from "@nestjs/common";
import { PluginService } from "../common/plugins/plugin.service";

@Module({
  providers: [PluginService],
  exports: [PluginService],
})
export class PluginModule { }